# Core packages
streamlit
langchain
langchain-groq
langchain-openai
langchain-community
langchain-text-splitters
langchain-chroma
langchain-huggingface

# Utilities
python-dotenv
wikipedia
duckduckgo-search
pymupdf
pypdf
arxiv
bs4
sentence-transformers
chromadb
faiss-cpu
duckdb
pandas
openai
mysql-connector-python
SQLAlchemy
validators==0.28.1
youtube_transcript_api
unstructured
pytube
numexpr
huggingface_hub
